{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-3">
		<h1 class="text-primary">Liste des boutiques</h1>
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_supplier_new') }}" hx-target="#modal-content" hx-swap="innerHTML">
			Ajouter une boutique
		</button>
	</div>
	<div class="row" id="suppliers" hx-get="{{ path('htmx_load_suppliers') }}" hx-target="#suppliers" hx-swap="innerHTML" hx-trigger="load"></div>
	<h2>Liste des produits</h2>
	<div class="row">
		<div class="col-7">Nom</div>
		<div class="col-2">Prix</div>
		<div class="col-3">Action</div>
	</div>
	{% for product in products %}
		<div class="row" id="product-{{ product.id }}">
			<div class="col-7">{{ product.name }}</div>
			<div class="col-2">{{ product.price }}</div>
			<div class="col-3">
				<p class="btn btn-danger" hx-get="{{ path('htmx_product_delete',{id:product.id}) }}" hx-confirm="Etes-vous sûr?" hx-target="#product-{{ product.id }}" hx-swap="outerHTML">Supprimer</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block js %}
	<script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}
