{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1 class="text-primary">Liste des boutiques</h1>
	<div class="row">
		{% for supplier in suppliers %}
			<div class="col-md-4">
				<a href="{{ path('supplier_show',{name:supplier.name}) }}" class="nav-link">
					<div class="card border-primary mb-3" style="max-width: 18rem;">
						<div class="card-header">{{ supplier.name }}</div>
						<div class="card-body">
							<h5 class="card-title">Nombre d'articles:
								{{ supplier.stocks|map(item => item.stock)|reduce((carry, item) => carry + item, 0) }}</h5>
							<h5 class="card-title">Valeur totale:
								{{ supplier.stocks|map(item => item.stock * item.product.price)|reduce((carry, item) => carry + item, 0) }}
								€</p>
						</div>
					</div>
				</a>
			</div>

		{% endfor %}
	</div>
	<h2>Liste des produits</h2>
	<div class="row">
		<div class="col-7">Nom</div>
		<div class="col-2">Prix</div>
		<div class="col-3">Action</div>
	</div>
	{% for product in products %}
		<div class="row" id="product-{{ product.id }}">
			<div class="col-7">{{ product.name }}</div>
			<div class="col-2">{{ product.price }}</div>
			<div class="col-3">
				<p class="btn btn-danger" hx-get="{{ path('htmx_product_delete',{id:product.id}) }}" hx-confirm="Etes-vous sûr?" hx-target="#product-{{ product.id }}" hx-swap="outerHTML"
            >Supprimer</p>
			</div>
		</div>
	{% endfor %}
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}