<div class="d-flex">
{{ knp_pagination_sortable(sells, 'date', 's.soldAt', {
    'options': [
        {
            'value': 's.soldAt',
            'label': 'Date décroissante',
            'direction': 'desc'
        },
        {
            'value': 's.soldAt',
            'label': 'Date croissante',
            'direction': 'asc'
        },
        {
            'value': 'p.name',
            'label': 'Nom du produit',
            'direction': 'asc'
        },
        {
            'value': 'p.name',
            'label': 'Nom du produit (inverse)',
            'direction': 'desc'
        }
    ]|json_encode,'currentSort': sort, 'currentDirection' : direction, 'currentMonth': month
}, {}, 'partials/sortable.html.twig') }}
{% include 'htmx/sell/filters.html.twig' %}
</div>

{# {{ knp_pagination_sortable(sells, 'name', 'p.name', {}, {}, 'partials/sortable.html.twig') }} #}
<div class="row h-54px bg-secondary rounded-top mt-3">
	<div class="d-flex align-items-center col-md-2 col-2 text-center">
		<p class="fw-bold m-0 text-light">Date d'achat</p>
	</div>
	<div class="d-flex align-items-center col-md-6 col-6 col-xl-6">
		<p class="fw-bold m-0 text-light">Nom du produit</p>
	</div>
	<div class="d-flex align-items-center justify-content-center col-md-2 col-2">
		<p class="fw-bold m-0 text-light">Total</p>
	</div>
	<div class="d-flex align-items-center justify-content-center col-md-2 col-2">
		<p class="fw-bold m-0 text-light">Action</p>
	</div>
</div>
{% for sell in sells %}
	{% set product = sell.product %}
	<div class="row h-54px {{ loop.index0 % 2 ? 'bg-dark-subtle' : 'bg-body-secondary' }} {{ loop.last ? 'rounded-bottom mb-3' : '' }}" id="sell-row-{{ sell.id }}">
		<div class="col-md-2 col-3 d-flex align-items-center">
			<p class="mb-0 d-none d-sm-inline">{{ sell.soldAt|date("Y-m-d H:i:s", "Europe/Paris")|format_datetime('long', 'none', locale='fr') }}</p>
			<p class="mb-0 d-inline d-sm-none text-break">{{ sell.soldAt|date("Y-m-d H:i:s", "Europe/Paris")|format_datetime('short', 'none', locale='fr') }}</p>
		</div>
		<div class="col-md-6 col-5 col-xl-6 d-flex align-items-center">
			<p class="mb-0">
				{{ product.name }}
				x
				{{ sell.quantity }}</p>
		</div>
		<div class="col-md-2 col-2 d-flex align-items-center justify-content-center">
			<p class="mb-0">{{ product.price * sell.quantity }}
				€</p>
		</div>
		<div class="col-md-2 col-2 text-end d-flex justify-content-center align-items-center">
			<button class="btn btn-danger d-none d-lg-inline" hx-get="{{ path('htmx_sell_delete',{id:sell.id}) }}" hx-confirm="Etes-vous sûr de vouloir supprimer cette vente ?" hx-target="#sell-row-{{ sell.id }}" hx-swap="outerHTML">
				<i class="fa-solid fa-trash-can"></i>
				Supprimer</button>
			<button class="btn btn-danger btn-sm d-inline d-lg-none" hx-get="{{ path('htmx_sell_delete',{id:sell.id}) }}" hx-confirm="Etes-vous sûr de vouloir supprimer cette vente ?" hx-target="#sell-row-{{ sell.id }}" hx-swap="outerHTML">
				<i class="fa-solid fa-trash-can"></i>
			</button>
		</div>
	</div>

{% endfor %}
<div class="navigation">
	{{ knp_pagination_render(sells) }}
</div>
