{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<a href="{{ path('home') }}" class="btn btn-primary ms-0 m-5">Retourner à l'accueil</a>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_modal_sell_new',{id:supplier.id}) }}" hx-target="#modal-content" hx-swap="innerHTML">
			Ajouter une vente
		</button>
	</div>
	<div class="d-flex justify-content-center align-items-start flex-column">
		<div class="m-4">
			<div class="card my-4 py-4 px-5 " id="supplier-info">
				{% include 'htmx/supplier/detail.html.twig' with {'supplier': supplier} %}
			</div>
			<button type="button" class="btn btn-warning d-block w-100" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_supplier_edit',{id:supplier.id}) }}" hx-target="#modal-content" hx-swap="innerHTML">
				Editer
			</button>
		</div>

	</div>
	<h2 class="display-5 text-center">Stocks de la boutique</h2>
	<form action="" method="post" class="mb-4 box-shadow-custom p-3 my-3" hx-post="{{ path('htmx_supplier_product_new', {'id': supplier.id}) }}" hx-target="#products" id="product-row-1">
		<div class="row">
			<p class="display- fw-light fs-5">Ajouter des produits a la boutique</p>
		</h2>
		<div class="col-md-6">
			<div class="form-group">
				<label for="name">Nom</label>
				<input type="text" class="form-control name" id="name" name="name" autocomplete="off" hx-get="{{ path('htmx_supplier_choices', {'supplierId': supplier.id} ) }}" hx-trigger="keyup" hx-target="#choices">
				<div id="choices" class="border border-primary rounded choices">
					{% include 'htmx/product/choices.html.twig' %}
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="price">Prix</label>
				<input type="number" class="form-control price" id="price" name="price" value="0" autocomplete="off" step="0.01">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="stock">Stock</label>
				<input type="number" class="form-control" id="stock" name="stock" value="1" autocomplete="off">
			</div>
		</div>
		<div class="col-md-2 d-flex justify-content-center align-items-end">
			<button class="btn btn-primary mt-4 d-block w-100">Ajouter</button>
		</div>
	</div>
</form>
<div class="container" id="products">
	{% include 'htmx/product/list.html.twig'  with {'stocks': supplier.stocks} %}
</div>
<h2 class="display-5 text-center">Ventes de la boutique</h2>
<div class="d-flex justify-content-end my-3">
	<button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_modal_sell_new',{id:supplier.id}) }}" hx-target="#modal-content" hx-swap="innerHTML">
		Ajouter une vente
	</button>
</div>
<div class="container" id="sells" hx-get="{{ path('htmx_load_sells', {'id': supplier.id}) }}" hx-trigger="load" hx-swap="innerHTML">
</div>{% endblock %}
{% block js %}
<script src="{{ asset('assets/js/supplier.js') }}" type="module"></script>
<script src="{{ asset('assets/js/custom-select.js') }}"></script>
{% endblock %}
