{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center">
		<a href="{{ path('home') }}" class="btn btn-primary ms-0 m-5">Retourner à l'accueil</a>
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_modal_new_sell',{id:supplier.id}) }}" hx-target="#modal-content" hx-swap="innerHTML">
			Ajouter une vente
		</button>
	</div>
	<h1 class="mx-5 display-3">{{ supplier.name }}</h1>
	<h2 class="display-5 text-center">Stocks de la boutique</h2>
	<form action="" method="post" class="mb-4 box-shadow-custom p-3 my-3" hx-post="{{ path('htmx_supplier_add_product', {'id': supplier.id}) }}" hx-target="#products" id="product-row-1">
		<div class="row">
			<p class="display- fw-light fs-5">Ajouter des produits a la boutique</p>
		</h2>
		<div class="col-md-6">
			<div class="form-group">
				<label for="name">Nom</label>
				<input type="text" class="form-control name" id="name" name="name" autocomplete="off" hx-get="{{ path('htmx_supplier_choices') }}" hx-trigger="keyup" hx-target="#choices">
				<div id="choices" class="border border-primary rounded choices">
					{% include 'htmx/htmx_product_choices.html.twig' %}
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="price">Prix</label>
				<input type="number" class="form-control price" id="price" name="price" value="0" autocomplete="off" step="0.01">
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group">
				<label for="stock">Stock</label>
				<input type="number" class="form-control" id="stock" name="stock" value="1" autocomplete="off">
			</div>
		</div>
		<div class="col-md-2 d-flex justify-content-center align-items-end">
			<button class="btn btn-primary mt-4 d-block w-100">Ajouter</button>
		</div>
	</div>
</form>
<div class="container" id="products">
	{% include 'htmx/htmx_supplier_add_product.html.twig'  with {'stocks': supplier.stocks} %}
</div>
<h2 class="display-5 text-center">Ventes de la boutique</h2>
<div class="d-flex justify-content-end my-3">
<button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#modal" hx-get="{{ path('htmx_modal_new_sell',{id:supplier.id}) }}" hx-target="#modal-content" hx-swap="innerHTML">
Ajouter une vente
</button>
</div>
<div class="container" id="sells">
	{% include 'htmx/htmx_supplier_add_sell.html.twig'  with {'sells': supplier.sells} %}
</div>{% endblock %}{% block js %}
<script src="{{ asset('assets/js/supplier.js') }}"></script>{% endblock %}
